{deps_dir, ["deps"]}.
{erl_opts, [debug_info]}.
{deps, [
  {slacker, ".*", {git, "git://github.com/julienXX/slacker.git", {branch, "master"}}},
  {restc, ".*", {git, "git://github.com/kivra/restclient.git", {branch,
                                                                "master"}}},
  {websocket_client, ".*", {git,
                            "git@github.com:jeremyong/websocket_client.git",
                            {branch, "master"}}}
]}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose]}.
